# This is the config file for my pager server
# It's sendmailish, but it should parse fast.
#
# Copyright (c) 1997  SPY Internetworking
# $Id: sample.config,v 1.3 1997/03/28 02:05:39 dustin Exp $

# Server hostname
DH    localhost

# location of the user database
Du    /tmp/userdb

# location of the pager terminal database
Dt    /tmp/termdb

# Where the queue is stored (Directory)
Dq    /tmp

########## Tuning crap:

# Debug level
Dd     3

# Child lifetime (default 120)
Dl     120
